<html> //akash
  <head>
    <meta charset="utf-8">
    <title>Group C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        font-family: courier;
        text-align: center;
      }
      column1{
        padding:  40px;
        text-align: center;
      }
      column2{
        padding-left: 40px;
        text-align: center;
      }
      header {
      background-color: #890d0b;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
      }
    </style>

  </head>
  <body>
    <div id = "container"></div>

    <div class="container">

	  <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <!-- child template -->
      {% block content %}{% endblock %}



      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}


    </div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </body>
</html>
