{% extends "base.html" %} //aakash
{% block content %}
<header>
  <h1>Please login</h1>
</header>
<br>
<form action="" method="post">
  <input type="text" placeholder="Username" name="username" value="{{
    request.form.username }}">
   <input type="password" placeholder="Password" name="password" value="{{
    request.form.password }}">
  <input class="btn btn-default" type="submit" value="Login">
  <p>Click <a href="/newPatient">here</a> to create a new patient.</p>
</form>

{% endblock %}
