{% extends "base.html" %} //joey
{% block content %}

<header>Main Menu</header>
<br>
<body>
	{% for post in posts %}
		<strong>Username:</strong> {{post.username}} <br>
		<strong>Intervention 1:</strong> {{post.intervention1}} <br>
		<strong>Intervention 2:</strong> {{post.intervention2}}<br>
		<strong>Intervention 3:</strong> {{post.intervention3}} <br>

	{% endfor%}

  <p>Click <a href="/logout">here</a> to logout.</p>
  <p>Click <a href="/newPatient">here</a> to create a new patient.</p>
</body>

{% endblock %}
