{% extends "base.html" %} //david
{% block content %}
<header>
  <h1>New Therapist</h2>
</header>

<form action="" method="post">

    <input type="text" placeholder="Username" name="username" value="{{
			request.form.username}}">
	<br></br>

    <input type="text" placeholder="Name" name="name" value="{{
			request.form.name}}">
	<br></br>

	<input type="password" placeholder="Password" name="password" value="{{
			request.form.password}}"
	<br></br>

	<input type="email" placeholder="Email" name="email" value="{{
			request.form.email}}">
	<br></br>
	<input type="text" placeholder="Admin Code" name="code" value="{{
			request.form.code}}">
	<br></br>
	<input class="btn btn-default" type="submit" value="submit">
</form>

<footer>
  <p>Click <a href="/newPatient">here</a> to create new patient.</p>
<footer>
{% endblock %}
