{% extends "base.html" %} //david
{% block content %}
<header>
  <h1>Search Patient</h2>
</header>

<form action="" method="post">
    <input type="text" placeholder="Username" name="username" value="{{
			request.form.username}}">
	<br></br>
	<input class="btn btn-default" type="submit" value="submit">
	<br>
	{% for post in posts %}
		<strong>Username:</strong> {{post.username}} <br>
		<strong>intervention1:</strong> {{post.intervention1}} <br>
		<strong>intervention2:</strong> {{post.intervention2}}<br>
		<strong>intervention3:</strong> {{post.intervention3}}<br>


	{% endfor%}
</form>

<footer>
  <p>Click <a href="/main">here</a> to return to the main menu.</p>
<footer>
{% endblock %}
