{% extends "base.html" %} //david
{% block content %}

<header>Therapist Main</header>
<br>
<body>
	{% for post in posts %}
		<strong>Username:</strong> {{post.username}} <br>
		<strong>Intervention 1:</strong> {{post.intervention1}} <br>
		<strong>Intervention 2:</strong> {{post.intervention2}}<br>
		<strong>Intervention 3:</strong> {{post.intervention3}} <br>

	{% endfor%}

  <p>Click <a href="/logout">here</a> to logout.</p>
  <p>Click <a href="/newPatient">here</a> to create a new patient.</p>
  <p>Click <a href="/assignIntervention">here</a> to assign an intervention to a patient.</p>
  <p>Click <a href="/viewPatients">here</a> to view all patients.</p>
  <p>Click <a href="/searchPatient">here</a> to search a patient.</p>

</body>

{% endblock %}
