{% extends "base.html" %} //aakash
{% block content %}

<header>View Patients</header>
<br>
<body>
	<p>Click <a href="/searchPatient">here</a> to search a new patient.</p>
	{% for post in posts %}
		<strong>Username:</strong> {{post.username}}
		<strong>Email:</strong> {{post.email}} <br>


	{% endfor%}

  <p>Click <a href="/logout">here</a> to logout.</p>
  <p>Click <a href="/newPatient">here</a> to create a new patient.</p>
</body>

{% endblock %}
